<%= form_for @parking, url: parkings_path, local: true do |form| %>



  <%= form.fields_for :address do |one_address| %>
    <% if @parking.errors.any? %>
      <div id="error_explanation" class="alert alert-danger" role="alert">
        <h5>
          <%= pluralize(@parking.errors.count, "error") %> prohibited
          this parking from being saved:
        </h5>
        <ul>
          <% @parking.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>



    <p>
      <%= one_address.label :city %><br>
      <%= one_address.text_field :city %>
    </p>

    <p>
      <%= one_address.label :street %><br>
      <%= one_address.text_field :street %>
    </p>

    <p>
      <%= one_address.label :zip_code %><br>
      <%= one_address.text_field :zip_code %>
    </p>
  <% end %>

  <p>
    <%= form.label :hour_price %><br>
    <%= form.text_field :hour_price %>
  </p>

  <p>
    <%= form.label :day_price %><br>
    <%= form.text_area :day_price %>
  </p>

  <p>
    <%= form.label :places %><br>
    <%= form.text_area :places %>
  </p>

  <p>
    <%= form.label :kind %><br>
    <%= form.text_field :kind %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', parkings_path %>
