<div class="margins-for-page">
  <div class="media">
    <img class="mr-3" src="https://i.wpimg.pl/730x0/m.gadzetomania.pl/mb2016-35f8e9899c087075c2566f3ec.jpg" alt="Generic placeholder image" height="98" width="146">
    <div class="media-body">
      <h3 class="mt-0">List of all parkings</h3>
      This is a list of all available parkings from our website, to help people find their own place to park their car. All parkings are checked for fulfillment of all law regulations.
    </div>
  </div>
</div>
