/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'sign_in_form';
 @import 'new_parking_form';
.checkboxes {
  margin-right: 15px;
}

.margins-for-page {
  margin: 15px;
}

.search-tags {
  width: 100%;
  margin: 15px;
}

.margins-for-botton {
  margin: 15px 2px 2px 2px;
}

.margins-for-main-div {
  margin: 0px 2px 20px 2px;
}

.link-for-login {
  text-align: right;
}

.botton,
.select,
.input {
  display: block;
  margin: auto;
}

.two-labels-in-line {
  display: inline-block;
  margin: 15px 4px 2px 4px;
  height: 33px;
  width: 180px;
}

.input {
  height: 33px;
  width: 368px;
}

.input-second {
  display: inline-block;
  display: block;
  height: 33px;
  width: 180px;
  margin: 0px 4px 2px 4px;
}

.select{
  height: 29px;
  width: 180px;
  border-radius: 5px;
  border-width: 1px;
}

.head-text {
  text-align: center;
}

.label {
  display: block;
  margin: 15px 2px 2px 2px;
  font-weight: 600;
}

.label-parking {
  border-radius: 5px;
  border-width: 1px;
}

.field_with_errors {
  .input,
  .input-second {
    outline: red auto 5px;
    outline-offset: -2px;
  }
}

#error_explanation {
  text-align: left;
  h2 {
    font-size: 16px;
  }

  ul {
    font-size: 14px;
  }
}
